
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs="" flex-gt-xs="50" layout="column"> <!-- holder of column-->

      <md-card md-theme="diploma" >
        <md-card-header>
          <md-card-avatar>
            <img  style="border-radius: 50%"src="https://storage.googleapis.com/cloud-storage-fotos/Foto.JPG">
          </md-card-avatar>
          <md-card-header-text>
              <span class="md-title">Gerson Lobos</span>
              <span class="md-subhead">Bachelor</span>
            </md-card-header-text>
        </md-card-header>


        <md-card-title>
            <md-card-title-media>  
              <div class="md-media-xl card-media"> <img src="img/Bachelor.png"></div>
            </md-card-title-media>
        </md-card-title>

      </md-card>


                      <md-card md-theme="diploma" >
        <md-card-header>
          <md-card-avatar>
            <img  style="border-radius: 50%"src="https://storage.googleapis.com/cloud-storage-fotos/Foto.JPG">
          </md-card-avatar>
          <md-card-header-text>
              <span class="md-title">Gerson Lobos</span>
              <span class="md-subhead">Associate</span>
            </md-card-header-text>
        </md-card-header>


        <md-card-title>
            <md-card-title-media>  
              <div class="md-media-xl card-media"> <img src="img/Associate.png"></div>
            </md-card-title-media>
        </md-card-title>

      </md-card>

  </div> <!--  ---- end holder of column ------ -->



    <div flex-xs="" flex-gt-xs="50" layout="column"> <!-- ----  holder of column ---- -->
                <md-card md-theme="diploma" >
        <md-card-header>
          <md-card-avatar>
            <img  style="border-radius: 50%"src="https://storage.googleapis.com/cloud-storage-fotos/Foto.JPG">
          </md-card-avatar>
          <md-card-header-text>
              <span class="md-title">Gerson Lobos</span>
              <span class="md-subhead">High School</span>
            </md-card-header-text>
        </md-card-header>


        <md-card-title>
            <md-card-title-media>  
              <div class="md-media-xl card-media"> <img src="img/HighSchool.png"></div>
            </md-card-title-media>
        </md-card-title>

      </md-card>



    <div flex-xs="" flex-gt-xs="50" layout="column"> <!-- ----  holder of column ---- -->
                <md-card md-theme="diploma" >
        <md-card-header>
          <md-card-avatar>
            <img  style="border-radius: 50%"src="https://storage.googleapis.com/cloud-storage-fotos/Foto.JPG">
          </md-card-avatar>
          <md-card-header-text>
              <span class="md-title">Gerson Lobos</span>
              <span class="md-subhead">Resume</span>
            </md-card-header-text>
        </md-card-header>


        <md-card-title>
            <md-card-title-media>  
              <div class="md-media-xl card-media"> <img src="img/ResumeShow.png"></div>
            </md-card-title-media>
        </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
          <md-button onclick="window.open('img/Gerson_Lobos_Resume_v3_PDF.pdf')">
             Download
            </md-button>
        </md-card-actions>
      </md-card>


    </div> <!-- ---- end holder of column ---- -->
  </md-content>