<!DOCTYPE html>
<html ng-app="ResumeApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- This line gets removed on compile  <meta name="viewport" content="width=device-width, initial-scale=1">-->
<title>Resume</title>

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<link rel="stylesheet" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css">
<link rel="stylesheet" href="https://material.angularjs.org/1.1.1/docs.css">

<link rel="stylesheet" href="css/style2.css">


 
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
	<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
	<script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script> 
<!--  ------------------------ ALL JS IMPORTS --> 
  <script src="js/app.js"></script>
  <script src="js/controllers/homeController.js"></script>
  <script src="js/controllers/aboutController.js"></script>


</head>

<!-- ---------------------------------- <BODY> ------------------------ -->
<body ng-controller="AppCtrl">

  <!--  great example of side nav here 
  http://blog.sodhanalibrary.com/2015/07/side-navigation-panel-design-using.html#.V_CXBpMrLcJ -->
	 
  <!--    <Top Header>    -->  
       <md-toolbar layout="row" class="navfixedPos">
          <md-button ng-click="toggleSidenav('left')" class="md-icon-button menuBtn">
            <md-icon aria-label="Menu" md-svg-icon="img/menu.svg">=</md-icon>
          </md-button>
          <h1 layout-align-gt-sm="center" class="md-toolbar-tools">Resume Info</h1>

        </md-toolbar>
<!--    </Top Header>  --> 

 

<!--    <Nav>     -->
        <md-sidenav layout="column"  class="md-sidenav-left md-whiteframe-8dp" md-component-id="left" >

               <md-toolbar layout="row">
          <md-button ng-click="toggleSidenav('left')" class="md-icon-button menuBtn">
            <md-icon aria-label="Menu" md-svg-icon="img/menu.svg"></md-icon>
          </md-button>
        </md-toolbar>

<md-divider></md-divider>
          <md-list class="muppet-list">
            <md-item ng-repeat="it in muppets">
              <md-item-content>
                <md-button ng-click="selectMuppet(it)" >
                  <img ng-src="{{it.iconurl}}" class="face" alt=""> {{it.name}}
                </md-button>

              </md-item-content>
            </md-item>
          </md-list>


        </md-sidenav>
<!--    </Nav>     -->


      <md-content layout="column" flex class="md-padding">
      <br><br>
        <div ng-view=""></div>
        <br><br><br>

                   <div layout="column" ng-cloak="" class="fabSpeedDialdemoBasicUsage relative" >

              <md-fab-speed-dial md-open="isOpen" md-direction="left"
                                 ng-class="selectedMode">
                <md-fab-trigger >
                  <md-button aria-label="menu" class="md-fab">
                    <md-icon md-svg-src="img/menu.svg"></md-icon>
                  </md-button>
                </md-fab-trigger>

                <md-fab-actions>
                  <md-button onclick="window.open('https://github.com/gersonlobos','_blank')" aria-label="Github" class="md-fab md-raised md-mini smallcol">
                  <ng-md-icon icon="github-circle" style="fill: pink"></ng-md-icon> 
                  </md-button>
                  <md-button onclick="window.open('https://www.linkedin.com/in/gerson-lobos-92759084','_blank')" aria-label="linkein" class="md-fab md-raised md-mini smallcol">
                    <ng-md-icon icon="linkedin" style="fill: pink"></ng-md-icon> 
                  </md-button>
                  <md-button onclick="location.href='mailto:gerson.lobos@gmail.com'" aria-label="Google" class="md-fab md-raised md-mini smallcol">
                    <ng-md-icon icon="send" style="fill: pink"></ng-md-icon> 
                  </md-button>
                </md-fab-actions>
              </md-fab-speed-dial>
            </div>




      </md-content><!--    content on right column-->


 

	<!-- ---------------------------------- </BODY> ------------------------ -->
	



</body>
</html>	